@model CustomerModel
<div style="margin-top:20px; background:white;">

    @if (Model.IsAddPoints)
    {
        <div style="width:100%; height:30px">
            <a href="#" style="float:right;  background-color: #2e4b90;" class="btn btn-primary btn-sm active" role="button" data-toggle="modal" data-target="#modalCustomerTransaction" aria-pressed="true">
                + Add New Transactions
            </a>
        </div>
    }
    else
    {
        <div style="width:100%; height:30px">
            <a href="#" style="float:right;  background-color: #2e4b90;" class="btn btn-primary btn-sm active" role="button" data-toggle="modal" data-target="#modalCustomerTransaction" aria-pressed="true">
                + Add New Redemptions
            </a>
        </div>
    }
<div style="width: 100%; overflow-x: auto; ">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bill Number</th>
                <th>Bill Date </th>
                <th>Bill Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerTransactions)
            {
                <tr>
                    <td>@item.BillNumber</td>
                    <td>@item.BillDate</td>
                    <td>@item.BillAmount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
</div>
