@model CustomerModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Save", "Customer", FormMethod.Post))
        {
            <div id="customerDiv">
                @Html.Partial("_CustomerSave", Model.Customer);
            </div>
        }

    </div>
</div>
